.App-header {
    overflow: hidden;
}
.cardImage {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  opacity: 0.33;
  overflow: hidden;
}
div.card {
  min-width: 85%;
  text-align: center;
    overflow: hidden;
}
.cardTitle {
  margin: 15px;
  font-family: 'Vidaloka';
  font-size: 5vw;
  color: white;
}
ul {
  list-style-type: none;
   width: 90%;
      margin: auto;
}

li {
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.text {
  font-weight: bold;
  position: relative;
  width: 90%;
  margin: auto;
  align: center;
  top: 12.5%;
  color: black;
}
.summary {
  position: relative;
  width: 90%;
  margin: auto;
  align: center;
  top: 12.5%;
  color: black;
}
.summary > h3 {
  font-size: 5vw;
}
.text > h3 {
  margin-top: -50px;
  font-size: 5vw;
}
.text > h4 {
  font-size: 4vw;
}
.card {
  max-height: 40%;
  max-width: 60%;
  margin: 0 auto;
  position: relative;
  font-family: 'Vidaloka';
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 70%;
}
.analysisButton {
  margin-top: 5%;
  margin-left: 8vw;
  margin-right: 8vw;
}
#buttonText {
  font-size: 20px;
  padding: 0px;
}
.popover-header {
  font-size: 15px;
  padding: 5px;
}
p.card-text {
  padding-left: 15px;
  padding-right: 15px;
}
img.actions:hover {
  cursor: pointer;
}
